In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Japura,ID,2021-04-01 01:19:12,-0.3167,102.3500,24.00,87,100,0.75
1,1,Rikitea,PF,2021-04-01 01:19:12,-23.1203,-134.9692,25.84,72,100,6.41
2,2,San Quintin,MX,2021-04-01 01:19:12,30.4833,-115.9500,21.01,37,61,3.30
3,3,Albany,US,2021-04-01 01:18:50,42.6001,-73.9662,10.56,70,100,7.60
4,4,Kloulklubed,PW,2021-04-01 01:19:13,7.0419,134.2556,29.00,79,75,2.57

In [4]:
# using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp+40)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# To remove negative number we can also do a for loop 
#  Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# To remove negative numberoption # 2 with list comprehension
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of temperature modified
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp+40, dissipating=False, max_intensity=350, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=100, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 35

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
25,25,Vaini,TO,2021-04-01 01:19:19,-21.2000,-175.2000,30.00,74,75,4.63
218,218,Kununurra,AU,2021-04-01 01:20:15,-15.7667,128.7333,31.00,48,100,6.69
228,228,Pangai,TO,2021-04-01 01:20:18,-19.8000,-174.3500,30.00,74,20,6.17
254,254,Port Hedland,AU,2021-04-01 01:20:25,-20.3167,118.5667,34.00,22,0,7.20
301,301,Sola,VU,2021-04-01 01:20:40,-13.8833,167.5500,31.00,79,90,2.06
315,315,Balagunan,PH,2021-04-01 01:20:44,7.4922,125.5211,30.00,79,40,1.03
346,346,Karratha,AU,2021-04-01 01:20:53,-20.7377,116.8463,31.25,28,0,4.01
369,369,Ambon,ID,2021-04-01 01:20:59,-3.6954,128.1814,30.00,74,20,2.06
374,374,Tiarei,PF,2021-04-01 01:21:00,-17.5333,-149.3333,32.00,62,40,2.57
414,414,San Rafael Del Sur,NI,2021-04-01 01:21:13,11.8485,-86.4384,30.00,66,20,5.14

In [16]:
preferred_cities_df.count()

City_ID       15
City          15
Country       15
Date          15
Lat           15
Lng           15
Max Temp      15
Humidity      15
Cloudiness    15
Wind Speed    15
dtype: int64

In [17]:
# Use dropna if null cities
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
25                Vaini      TO     30.00 -21.2000 -175.2000
218           Kununurra      AU     31.00 -15.7667  128.7333
228              Pangai      TO     30.00 -19.8000 -174.3500
254        Port Hedland      AU     34.00 -20.3167  118.5667
301                Sola      VU     31.00 -13.8833  167.5500
315           Balagunan      PH     30.00   7.4922  125.5211
346            Karratha      AU     31.25 -20.7377  116.8463
369               Ambon      ID     30.00  -3.6954  128.1814
374              Tiarei      PF     32.00 -17.5333 -149.3333
414  San Rafael Del Sur      NI     30.00  11.8485  -86.4384

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [79]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Japura,ID,24.00,-0.3167,102.3500,Rumah mbah Jamah
1,Rikitea,PF,25.84,-23.1203,-134.9692,Pension Maro'i
2,San Quintin,MX,21.01,30.4833,-115.9500,Old Mill Hotel
4,Kloulklubed,PW,29.00,7.0419,134.2556,Storyboard Beach Resort
8,New Norfolk,AU,23.89,-42.7826,147.0587,The Shingles Riverside Cottages
11,Cobija,BO,22.60,-11.0267,-68.7692,Hotel Obelisco
12,Arraial Do Cabo,BR,23.90,-22.9661,-42.0278,Pousada Porto Praia
13,Tessalit,ML,24.01,20.1986,1.0114,
15,Sambava,MG,24.50,-14.2667,50.1667,Melrose
19,Khorixas,NaN,21.35,-20.3667,14.9667,Khorixas Lodge

In [81]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [93]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [95]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))