In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Japura,ID,2021-04-01 01:19:12,-0.3167,102.3500,24.00,87,100,0.75
1,1,Rikitea,PF,2021-04-01 01:19:12,-23.1203,-134.9692,25.84,72,100,6.41
2,2,San Quintin,MX,2021-04-01 01:19:12,30.4833,-115.9500,21.01,37,61,3.30
3,3,Albany,US,2021-04-01 01:18:50,42.6001,-73.9662,10.56,70,100,7.60
4,4,Kloulklubed,PW,2021-04-01 01:19:13,7.0419,134.2556,29.00,79,75,2.57

In [3]:
# using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp+40)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# To remove negative number we can also do a for loop 
#  Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [35]:
# To remove negative numberoption # 2 with list comprehension
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Heatmap of temperature modified
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp+40, dissipating=False, max_intensity=350, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=100, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 20
What is the maximum temperature you would like for your trip? 30

In [61]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Japura,ID,2021-04-01 01:19:12,-0.3167,102.3500,24.00,87,100,0.75
1,1,Rikitea,PF,2021-04-01 01:19:12,-23.1203,-134.9692,25.84,72,100,6.41
2,2,San Quintin,MX,2021-04-01 01:19:12,30.4833,-115.9500,21.01,37,61,3.30
4,4,Kloulklubed,PW,2021-04-01 01:19:13,7.0419,134.2556,29.00,79,75,2.57
8,8,New Norfolk,AU,2021-04-01 01:19:14,-42.7826,147.0587,23.89,33,100,0.89
11,11,Cobija,BO,2021-04-01 01:19:15,-11.0267,-68.7692,22.60,98,100,0.79
12,12,Arraial Do Cabo,BR,2021-04-01 01:19:15,-22.9661,-42.0278,23.90,76,62,6.49
13,13,Tessalit,ML,2021-04-01 01:19:15,20.1986,1.0114,24.01,9,5,4.48
15,15,Sambava,MG,2021-04-01 01:19:16,-14.2667,50.1667,24.50,89,69,4.35
19,19,Khorixas,NaN,2021-04-01 01:19:17,-20.3667,14.9667,21.35,71,100,2.69

In [66]:
preferred_cities_df.count()

City_ID       265
City          265
Country       263
Date          265
Lat           265
Lng           265
Max Temp      265
Humidity      265
Cloudiness    265
Wind Speed    265
dtype: int64

In [68]:
# Use dropna if null cities
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [69]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Japura      ID     24.00  -0.3167  102.3500
1           Rikitea      PF     25.84 -23.1203 -134.9692
2       San Quintin      MX     21.01  30.4833 -115.9500
4       Kloulklubed      PW     29.00   7.0419  134.2556
8       New Norfolk      AU     23.89 -42.7826  147.0587
11           Cobija      BO     22.60 -11.0267  -68.7692
12  Arraial Do Cabo      BR     23.90 -22.9661  -42.0278
13         Tessalit      ML     24.01  20.1986    1.0114
15          Sambava      MG     24.50 -14.2667   50.1667
19         Khorixas     NaN     21.35 -20.3667   14.9667

In [70]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [76]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [79]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Japura,ID,24.00,-0.3167,102.3500,Rumah mbah Jamah
1,Rikitea,PF,25.84,-23.1203,-134.9692,Pension Maro'i
2,San Quintin,MX,21.01,30.4833,-115.9500,Old Mill Hotel
4,Kloulklubed,PW,29.00,7.0419,134.2556,Storyboard Beach Resort
8,New Norfolk,AU,23.89,-42.7826,147.0587,The Shingles Riverside Cottages
11,Cobija,BO,22.60,-11.0267,-68.7692,Hotel Obelisco
12,Arraial Do Cabo,BR,23.90,-22.9661,-42.0278,Pousada Porto Praia
13,Tessalit,ML,24.01,20.1986,1.0114,
15,Sambava,MG,24.50,-14.2667,50.1667,Melrose
19,Khorixas,NaN,21.35,-20.3667,14.9667,Khorixas Lodge

In [81]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [93]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [95]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))